@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --Purple50: hsl(260, 100%, 95%);
  --Purple300: hsl(264, 82%, 80%);
  --Purple500: hsl(263, 55%, 52%);

  --White: hsl(0, 0%, 100%);
  --Grey100: hsl(214, 17%, 92%);
  --Grey200: hsl(0, 0%, 81%);
  --Grey400: hsl(224, 10%, 45%);
  --Grey500: hsl(217, 19%, 35%);
  --Darkblue: hsl(219, 29%, 14%);
  --Black: hsl(0, 0%, 7%);

  font-size: 13px;
}

body {
  font-family: "Barlow Semi Condensed", Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: var(--Grey100);
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

main {
  display: grid;
  gap: 1.5rem;
  max-width: 1100px;
  width: 100%;
  margin-inline: auto;
}

/* TABLET:  */
@media (min-width: 768px) {
  main {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .card-1 {
    grid-column: 1 / span 2;
  }

  .card-4 {
    grid-column: 1 / span 2;
  }

  .card-5 {
    grid-column: 1 / span 2;
  }
}

@media (min-width: 1100px) {
  main {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  .card-1 {
    grid-column: 1 / span 2;
    grid-row: 1;
  }

  .card-2 {
    grid-column: 3 / span 1;
    grid-row: 1;
  }

  .card-3 {
    grid-column: 1 / span 1;
    grid-row: 2;
  }

  .card-4 {
    grid-column: 2 / span 2;
    grid-row: 2;
  }

  .card-5 {
    grid-column: 4 / span 1;
    grid-row: 1 / span 2;
  }
}

.img-container {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}

.card {
  padding: 2rem 1.8rem;
  border-radius: 8px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.card-head {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1.2rem;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

small {
  font-size: 0.9rem;
  opacity: 0.7;
}

p.head {
  position: relative;
  line-height: 120%;
  font-weight: 500;
  color: var(--White);
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  z-index: 2;
}

p.text {
  position: relative;
  color: var(--Grey100);
  z-index: 2;
  line-height: 140%;
}

.card-1 {
  background-color: var(--Purple500);
  position: relative;
  color: var(--White);
}

.card-2 {
  background-color: var(--Grey500);
  color: var(--White);
}

.card-3 {
  background-color: var(--White);
}

.card-4 {
  background-color: var(--Darkblue);
  color: var(--White);
}

.card-5 {
  background-color: var(--White);
}

.black {
  color: var(--Grey500);
}

p.black {
  color: var(--Grey500);
}

.float-img {
  position: absolute;
  width: 110px;
  height: 110px;
  top: 0.8rem;
  right: 2.5rem;
  z-index: 1;
  opacity: 0.8;
  pointer-events: none;
}
